*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}

input,
button {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* header */
.header {
    min-height: 100px;
    background: #FBFAFF;
    padding-top: 47px;
}

.header-inner {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__interactive {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.header__desc {
    width: 20.2rem;
    min-height: 3.3rem;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    /* 136.364% */
    text-decoration-line: underline;

}

.header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.header-item__link {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0 21px 0 21px;
}

.hero {
    height: 100vh;
    background: #FBFAFF;
    padding-top: 71px;
}

.row-hero {
    align-items: center;

}

.hero__img-wrap {
    width: 51.4rem;
    height: 70.5rem;
    position: relative;
}

.hero__img-wrap::before {
    content: url(../icons/group-line.svg);
    position: absolute;
    left: -113px;
    bottom: 0;
    transform: translateX(-113px);
}

.hero__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.hero__heading {
    color: #080415;
    font-family: DM Sans;
    font-size: 8rem;
    font-weight: 500;
    line-height: 7.6rem;
    /* 95% */
    letter-spacing: -0.32rem;
}

.hero__desc {
    margin-top: 20px;
    width: 37rem;
    color: #51586A;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__book {
    color: #FDFDFD;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    /* 166.667% */
    width: 17rem;
    min-height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5D3BEE;
}
.hero__works {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    /* 166.667% */
    text-decoration-line: underline;
}

.hero__list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 109px;
}

.hero__desc-right {
    display: inline-block;
}

/* clients */
.clients {
    margin-top: 98px;
}

.clients__heading {
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem;
    /* 119.048% */
    letter-spacing: -0.168rem;
}

.clients__media {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.clients__info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.clients__img-wrap,
.clients__img-canva {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients__img-media {
    width: 26px;
    height: 26px;
}

.clients__img-green {
    background-color: #14A800;
}

.clients__img-yellow {
    background: #FEE101;
}

.clients__img-purple {
    background-color: #7F54B3;
}

.clients__img-red {
    background: #F00;
}

/* Specialities */
.Specialities {
    padding-top: 130px;
}

.Specialities__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Specialities__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem;
    /* 117.857% */
    letter-spacing: -0.224rem;
}

.Specialities__desc {
    margin-top: 20px;
    min-width: 53.4rem;
    color: #51586A;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}

.Specialities__list {
    margin-top: 60px;
}

.Specialities-item {
    padding: 33px 43px;
    width: 37rem;
    height: 30.6rem;
    background: #FBFAFF;
}

.Specialities-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
    /* 125% */
    letter-spacing: -0.128rem;
}

.Specialities-item__desc {
    width: 28.5rem;
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
    margin-top: 15px;
}

.projects {
    margin-top: 140px;
    background: #5D3BEE;
}

.projects__inner {
    padding: 86px 0;
}

.projects__heading {
    color: #FFF;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem;
    /* 117.857% */
    letter-spacing: -0.224rem;
}

.projects__desc {
    padding-top: 31px;
    width: 37rem;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
    opacity: 0.7;
    margin-left: 30px;
}

.projects__list {
    margin-top: 70px;
}

.projects__top {
    display: flex;
    justify-content: space-between;
}

.projects-item__flex-row {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.projects-item {
    min-height: 23.4rem;
    background: #FBFAFF;
    padding: 24px 34px 23px;

}

.projects-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
    /* 125% */
    letter-spacing: -0.128rem;
}

.projects-item__desc {
    width: 22rem;
    color: #51586A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    /* 143.75% */
}

.projects-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    /* 166.667% */
    text-decoration-line: underline;
}

.projects-item__img-wrap {
    width: 24.6rem;
    height: 18.7rem;
}

.projects-item__img {
    width: 100%;
    height: 100%;
}

.projects-item__inner {
    display: flex;
    column-gap: 47px;
}

.projects__cta {
    display: flex;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    min-height: 62px;
    user-select: none;
    border: none;
    outline: none;
}

.projects__link {
    display: inline-block;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    /* 166.667% */
    padding: 0 37px;
}

.about {
    margin-top: 140px;
}

.about-wrap__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about__hey {
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.about__desc-hey {
    color: #5D3BEE;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -0.128rem;
}

.about__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -0.224rem;
    margin-top: 10px;
}

.about__desc {
    width: 57rem;
    color: #51586A;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
    margin-top: 15px;
}

.about__wrap-quantity {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 946px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
}

.about__wrap-quantity::before {
    display: inline-block;
    content: "";
    width: 946px;
    height: 1px;
    background: #080415;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
}

.about__wrap-quantity::after {
    display: inline-block;
    content: "";
    width: 946px;
    height: 1px;
    background: #080415;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
}

.about__item-quantity {
    margin: 20px 0;
}

.about-item__quantity {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    /* 135.714% */
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
}

.about-item_desc-quantity {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
}


.about__media {
    margin-top: 70px;
}

.about__wrap-media {
    position: relative;
    z-index: 1;
}

.about__video {
    width: 100%;
    height: auto;
}

.about__btn {
    position: absolute;
    width: 111px;
    height: 111px;
    background: #FFFFFFB2;
    border-radius: 50%;
    border: 1px solid #FFFFFFB2;
    outline: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.about__btn.hide {
    opacity: 0;
    visibility: visible;
}

.about__btn.show {
    opacity: 1;
    visibility: visible;
}

.about__video-play,
.about__video-pause {
    display: inline-block;
    width: 15px;
    height: 18px;
    color: #5D3BEE;
    font-size: 24px;
}

.about__video-pause {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

/* .media-overlay{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
} */
/*------------------*/
.feedback {
    padding-top: 150px;
    background: #FBFAFF;
}

.feedback-item__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -0.224rem;
    text-align: center;
}

.feedback-item__desc {
    width: 57rem;
    color: #51586A;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
    text-align: center;
    margin: 20px auto;

}

.feedback-item__quote {
    width: 67.9rem;
    height: 11.4rem;
    color: #51586A;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    margin: 60px auto;
}

.feedback-item__people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3px;
    margin: 36px auto;
}

.feedback-item__info {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.feedback-item__name {
    color: #080415;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    /* 133.333% */
}

.feedback-item__project-desc {
    color: #51586A;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
    /* 181.25% */
}

.feedback__tabs {
    display: flex;
    margin-top: 40px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.feedback__tab {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(8 4 21 / 20%);
}

.feedback__tab.active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5D3BEE;
    background: #FFF;
}

.feedback__tab.active>.feedback__inner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5D3BEE;
}

/* faq */
.faq {
    padding-top: 95px;
}

.faq__heading {
    max-width: 575px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.19;
    /* 117.857% */
    letter-spacing: -0.224rem;
}

.faq__list {
    max-width: 1009px;
    min-height: 673px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 80px;
}

.faq-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 23px;
    padding-bottom: 21px;
    border-bottom: 2px solid #08182F;
}

.faq-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -0.128rem;
}

.faq-item__desc {
    margin-top: 23px;
    max-width: 487px;
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    transform: translateY(-100%);
    display: none;
    /* 166.667% */
    transition: all 5s ease;

}

.faq-item__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    min-height: 50px;
    border: 1px solid #161A1C;
    border-radius: 50%;
    background: #fff;
    outline: none;
    cursor: pointer;
}

.faq-item__icon {
    padding: 18px;
}

.faq-item.active {
    padding-bottom: 21px;
    border-color: #5D3BEE;
}

.faq-item.active>.faq-item__content>.faq-item__heading {
    color: #5D3BEE;
}

.faq__item.active>.faq__item--cta i {
    color: #5D3BEE;
}

.faq-item__cta>i {
    color: #161A1C;
}

.faq-item__cta:active .faq-item__desc {
    display: block;
    transform: translateY(0);
}

/* atmosphere */
.atmosphere {
    padding-top: 160px;
}

.atmosphere__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    /* 117.857% */
    letter-spacing: -0.224rem;
    text-align: center;
}

.atmosphere__desc {
    max-width: 52.8rem;
    color: #51586A;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    margin: 20px auto 0px;
}

.atmosphere__link {
    display: block;
    color: #5D3BEE;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    /* 125% */
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
    text-align: center;
    margin-top: 30px;
}

.atmosphere__list {
    margin-top: 70px;
}

.atmosphere__item {
    max-width: 370px;
    height: 529px;
}

.atmosphere__image {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform: scale(1);
}

.atmosphere__item:hover>.atmosphere__image {
    transform: scale(1.1);
}

/* action */
.action {
    background-color: #fff;
    padding-top: 140px;
}

.action__container {
    max-width: calc(100% - 40px);
    width: 1330px;
    margin: 0 auto;
    position: relative;
    background: #FBFAFF;
}

.action__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.action__heading {
    margin-top: 18px;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.19;
    color: #080415;
    letter-spacing: -2.24px;
}

.action__desc {
    margin-top: 20px;
    max-width: 474px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #51586A;
}

.action__cta {
    display: inline-block;
    margin-top: 30px;
    min-width: 170px;
    line-height: 62px;
    text-align: center;
    background: #5D3BEE;
    font-size: 1.8rem;
    color: #FDFDFD;
    font-weight: 700;
    padding: 0 16px;
    cursor: pointer;
}

.action__cta:hover {
    opacity: 0.8;
}

.action__img-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.action__line-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.action__line-right {
    position: absolute;
    top: 0;
    right: 0;
}

.footer {
    margin-top: 50px;
    padding-bottom: 30px;
}

.footer__container {
    max-width: 1430px;
    margin: 0 auto;
    border-bottom: 1px solid #e0dfe3;
    padding-bottom: 32px;
}

.footer-inner {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer__interactive {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.footer__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.footer-item__link {
    color: #51586A;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0 21px 0 21px;
}

.footer__bottom {
    margin-top: 18px;
}

.footer__flex-bottom {
    display: flex;
    justify-content: space-between;
}

.footer__desc-bottom {
    color: #525771;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    opacity: 0.6;
}

.footer__wrap-bottom {
    display: flex;
    align-items: center;
}
.footer__line{
    width: 1px;
height: 14px;
background: #525771;
opacity: 0.6;
margin-left: 23px;
margin-right: 13px;
}
